{% extends 'floppy/base.html' %}

{% block body %}

<div class="container mt-4">
    {% if note.deleted == False %}
    <a href="{% url 'movetotrash' note.id %}" onclick="return confirm('Note will be moved to trash. Are you sure?');"
        class="btn btn-danger">move to trash</a>
    {% endif %}
    {% if note.deleted == True %}
        <a href="{% url 'deletenote' note.id %}" onclick="return confirm('Note will be deleted. Are you sure?');"
        class="btn btn-danger">delete</a>
        <a href="{% url 'restorenote' note.id %}" onclick="return confirm('Note will be restored. Are you sure?');"
            class="btn btn-primary">restore</a>
    {% endif %}
        <a href="{% url 'browseversions' note.id %}" class="btn btn-primary">browse versions</a>
    <p>
        Date Modified: {{ note.date_modified }} </br>
        Date Created: {{ note.date_created }} </br>
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <div>
            <button type="submit" class="btn btn-success w-100">save</button>
        </div>
    </form>
</div>

{% endblock body %}
